/* Empty. Add your own CSS if you like */

nav ul a:hover {
    background-color: #fff !important;
}

.tabs .tab a:hover {
    color: #000 !important;
}

.tabs .tab a {
    color: #000000 !important;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}
